* {
    text-align: center;
    font-family: "Lucida Console", "Courirer New", monospace;
}

body {
    background-color: #36374b;
}

.caixa1 {
    margin-top: 24px;
}

h1 {
    font-size: 18px;
    color: #e8d8c8;
    text-decoration: underline;
}

#hotel,
#lingua {
    font-size: 18px;
    color: #839973;
}

.btn.btn-primary {
    font-size: 18px;
    background-color: #839973;
    color: #36374b;
    padding: 10px;
    margin-top: 20px;

}

.para-input {
    font-size: 18px;
    color: #e8d8c8;
}

#preco-total {
    font-size: 28px;
    color: #e8d8c8;
}