@import url(http://fonts.googleapis.com/css?family=Dosis);

body{
	background: url(../images/bokeh.jpg) no-repeat center fixed;
}

h2{
	font-family: 'Dosis', arial;
	text-align: center;
}

.caixa0{
	background-color:rgba(0,0,0,0.6);
	margin-bottom: 20px;
	padding: 20px 0px 0px 0px;
	width: auto;
	height: 50px;
}

.caixa1{
	font-family: 'Dosis', arial;
	font-size: 16px;
	margin: 0 auto;
	padding: 25px;
	padding-bottom: 50px;
	width: 500px;
	border-radius: 11px 11px 11px 11px;
	-moz-border-radius: 11px 11px 11px 11px;
	-webkit-border-radius: 11px 11px 11px 11px;
	border: 0px solid #000000;
	color: #c0c5ce;
	background-color:rgba(0,0,0,0.6);
}

#logo{
	margin-left: 20px;
}

input{
	padding-left: 10px;
}

.botao{
	font-size: 18px;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-decoration: none;
	display:inline-block;
	color: #FFF;
	background: #7F8C8D;
	width: 100px;
	height: 35px;
	border-radius: 5px;
	margin: 10px 5px;
	padding-left: 5px;
}
